.nav {
  @include media(sm){
    padding: 4.5rem 3.5rem;
  }
  position: relative;
  padding: 4.7rem;
  @include flex(space-between);
  &__left{
    img{
      @include media(sm){
        height: 3rem;
      }
      height: 4rem;
    }
  }
  &__right{
    .menu{
      @include media(sm){
        display: block;
      }
      display: none;
      &.active{
        opacity: .53;
      }
    }
    .links{
      @include media(sm){
        display: none;
      }
      @include flex(space-between);
      &.open{
        position: absolute;
        top: 125%;
        left: 6%;
        width: 88%;
        height: 49rem;
        @include flex(flex-start);
        flex-direction: column;
        background-color: $white;
        padding: 4rem 0 0 0;
        &::before{
          content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 4rem solid white;
    border-left: 4rem solid transparent;
    top: -8%;
    right: 0%;
        }
      }
      li{
        &:hover{
          cursor: pointer;
        }
        @include media(sm){
          padding: 2.5rem 0;
        }
        list-style: none;
        padding: 0 2.8rem;
        a{
          @include media(sm){
            color: $dark__grayish__blue;
            font-size: $lr;
          }
          font-size: $p;
          font-family: $body__font;
          color: $white;
          text-decoration: none;
        }
      }
      button{
        @include media(sm){
          background-color: $yellow;
          margin-left: 0;
          margin-top: 3.7rem;
          font-size: 2.8rem;
          padding: 2.8rem 4.3rem;
          border-radius: 4.5rem;
        }
        cursor: pointer;
        margin-left: 1rem;
        font-weight: 700;
        font-family: $main__font;
        background-color: $white;
        border: none;
        border-radius: 2.5rem;
        padding: 1.5rem 2.8rem;
        font-size: $sm;
        &:hover{
          background-color: rgba(255, 255, 255, 0.281);
          color: $white;
        }
      }
    }
  }
}
