.hero {
  @include media(sm){
    height: 75vh;
    background-image: url('./images/mobile/image-header.jpg');
  }
  background-image: url("./images/desktop/image-header.jpg");
  position: relative;
  height: 100vh;
  // max-height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, bottom;
  .hero__content{
    @include media(sm){
      padding-top: 3rem;
    }
    @include flex(center);
    flex-direction: column;
    h2 {
      @include media(sm){
        text-align: center;
      }
      line-height: 1.15;
      color: $white;
      letter-spacing: 0.8rem;
      padding: 6.5rem 0;
      font-size: $sbtl;
      font-weight: 900;
    }
    img{
      margin-top: 3rem;
      @include media(sm){
        margin-top: 1.3rem;
      }
    }
  }
}
