//  Primary

$soft__red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
// (graphic design text):

$dull__cyan :hsl(167, 40%, 24%);
// (photography text)

$dark__blue: hsl(198, 62%, 26%);
// (footer)

$moderate__cyan: hsl(168, 34%, 41%);
// Neutral

$dull__blue: hsl(212, 27%, 19%);
$grayish__blue: hsl(213, 9%, 39%);
$dark__grayish__blue: hsl(232, 10%, 55%);
$white__grayish__blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
