// font import
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

//font-family
$main__font: 'Fraunces', sans-serif;
$body__font: 'Barlow', cursive;

//font size according to typescale third perfect
$xxlr: 7.544rem;
$sbtl: 5.906rem;
$xlr: 4.553rem;
$lr: 3.299rem;
$md: 2.385rem;
$p: 1.8rem;
$sm: 1.6rem;
